<div class="position-absolute top-50 start-50 translate-middle">
  <h1 class="fw-lighter text-secondary text-center lh-lg">TODO App</h1> 
  <h2 class="fw-lighter  text-secondary text-center lh-lg">自分のTODOを管理しましょう。</h2>
  <%= link_to '新規登録はこちらから', '/users/new', class:"btn btn-primary d-grid gap-2 col-6 mx-auto lh-lg mt-4"%>
</div>