:css
  .container {
    background-color: pink;
    font-size: x-large;
    height: 300px;
    text-align: center;
  }



.container
  %h1 TODO アプリ
  %h2 自分のTODOを管理しましょう。
  = button_to "新規登録はこちらから", {controller: 'static_pages', action: 'home'}, {method: :get}




 


    

